@import './theme.css';
@import 'tailwindcss';

/* lo tuyo abajo */
html,
body {
	height: 100%;
}
body {
	margin: 0;
	background: var(--bg);
	color: var(--text);
	font-family:
		system-ui,
		-apple-system,
		Segoe UI,
		Roboto,
		Arial,
		sans-serif;
}

.card {
	border: 1px solid var(--border);
	border-radius: var(--r-lg);
	background: var(--surface);
	box-shadow: var(--shadow);
}

.scrollbar-none::-webkit-scrollbar {
	display: none;
}
.scrollbar-none {
	-ms-overflow-style: none;
	scrollbar-width: none;
}
